body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #FFFFFF;
}

h3 {
    color: #00FF00;
}

h4 {
    color: #FF0000; 
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
}

p {
    color: #FFFFFF;
}

xmp {
    color: #FFFFFF;
}