body {
    font-family: Courier New;
    background-color: #000000;
    color: #FFFFFF;
}

h3 {
    color: #00FF00;
}

h4 {
    color: #FF0000;
}

p {
    color: #FFFFFF;
}

xmp {
    color: #FFFFFF;
}