<!DOCTYPE html>
<!-- Use dark mode from bootstrap -->
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>binGo</title>
</head>

<body class="d-flex align-items-center justify-content-center bg-body-tertiary">
    <div class="container">
        <!-- Use a jumbotron component to display the folder name -->
        <div class="jumbotron mt-4">
            <h1 class="display-4">binGo</h1>
            <p class="lead">A Flask app that allows you to browse and view the files in your local folders using
                Microsoft Edge browser and Copilot.</p>
            <p class="h4">{{ folder }}</p>
            <hr class="my-4">
        </div>
        <!-- Use a list group component to display the files -->
        <ul class="list-group">
            <!-- Loop through each file data -->
            {% for relative_path, extension, content in files_data %}
            <!-- Use a list group item component with a collapse toggle to display the file relative path, extension and content -->
            <li class="list-group-item">
                <h4 class="list-group-item-heading">.\{{ relative_path }}</h4>

                <!-- Use a code block component with syntax highlighting to display the file content -->
                <pre><code class="{{ extension }}">```{{ extension }}<br>{{ content }}<br>```</code></pre>

            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>